.Python
bin/
devel/
develop-eggs/
include/
lib/
parts/
var/
*.pyc
*.swp
src/*.egg-info
buildout.cfg
coverage
.mr.developer.cfg
robot-output
.installed.cfg
*.po~
*.mo
cache.cfg
download-cache
eggs
etc/
log.html
output.xml
report.html
.DS_Store*
