  include *.py
  include *.rst
  include *.txt
  include varnish.cfg
  include versions.cfg
  recursive-include docs *.GPL
  recursive-include docs *.txt
  recursive-include docs *.png
  recursive-include docs *.rst
  recursive-include src *.css
  recursive-include src *.js
  recursive-include src *.png
  recursive-include src *.po
  recursive-include src *.pot
  recursive-include src *.pt
  recursive-include src *.robot
  recursive-include src *.txt
  recursive-include src *.xml
  recursive-include src *.zcml
