.diag-warning,
.diag-ok {
  margin: auto;
  font-weight: bold;
  line-height: 17px;
  padding: .2em .5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  font-size: 85%;
}

.diagnosis .globalstatus {
  padding: 0 .5em;
}

.diag-ok {
  background-color: green;
  color: white;
}

.diag-warning {
  background-color: red;
  color: white;
}

.ignored .diag-ok {
  background-color: lightgreen;
  color: white;
}

.ignored .diag-warning {
  background-color: pink;
  color: white;
}

#content .diagnosis dd {
  margin: 0;
  border-radius: 0 0.5em 0.5em 0.5em;
  padding: 0.3em;
}

#content ul.symptoms {
  border: 0;
  padding: 0.2em;
  margin: 0;
  clear: both;
  color: black;
  font-size: 118%;
  font-weight: normal;
}

dd.diag-warning {
  background-color: red;
}

dd.diag-ok {
  background-color: green;
}

#content .symptoms li {
  display: block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.symptoms li.even {
  background-color: #F2F2F2;
}

.symptoms li.odd {
  background-color: #FFF;
}

dl.menu {
  position: relative;
}

dl.menu dd {
  display: none;
  position: absolute;
  z-index: 5;
}

dl.menu dd.activated {
  display: block;
  left: 0.5em;
  top: 17px;
}

dl.menu .menuHandle {
  cursor: pointer;
}

#content .diagnosis.menu dt {
  margin-right: 0.5em;
}

.diagnosis .symptom {
  padding: 0.5em;
}

.diagnosis .globalstatus {
  float: left;
}

.symptomTitle {
  font-weight: bold;
}

.symptomHelp {
  display: none;
  font-weight: normal;
  font-size: 90%;
  color: #BBB;
}

#content .symptom a:visited,
#content .symptom a:link {
  border: 0;
}
